[submodule "ac_segmentation"]
	path = ac_segmentation
	url = https://github.com/AllenInstitute/ac_segmentation.git
	branch = auto-update

[submodule "ac_reconstruction_analysis"]
	path = ac_reconstruction_analysis
	url = https://github.com/AllenInstitute/ac_reconstruction_analysis.git
  branch = auto-update
  
[submodule "axonal_connectomics"]
	path = axonal_connectomics
	url = https://github.com/AllenInstitute/axonal_connectomics.git
  branch = auto-update
